@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins'
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("images/calculator\ background.jpeg");
}

.calculator {
    width: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculator span {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #f0f0f0;
    font-weight: 500;
}

.calculator span:hover {
    cursor: pointer;
}

.calculator .operations {
    background: #153e4a;
    color: white;
}

.calculator .clear {
    background-color: rgb(80, 0, 94);
    color: white;
}

.calculator .inputArea{
    grid-column: span 4;
    padding: 20px 10px;
    outline: none;
    border: none;
    font-size: 1.3em;
}

.calculator .plus  {
    grid-row: span 2;
    height: 120px;
    line-height: 120px;
}

.calculator .equal {
    width: 120px;
    grid-column: span 2;
    background: #1fcfb1;
    font-size: 1.8em;
}

/* CONTINUE CALCULATIONS WITHOUT RESETING THE PROGRAM*/

#history {
    width: 240px;
    height: 371.2px;
    overflow-y: scroll;
    font-size: 1.1em;
    background: #f0f0f0;
    box-sizing: border-box;
    padding: 10px 20px;
}

#history::-webkit-scrollbar {
    width: 0;
}

#history h3{
    padding: 10px 0px;
    font-size: 1.2em;
}

#history p:last-child {
    font-size: 1.3em;
    font-weight: 500;
    color:#1fcfb1;

}